<!--modal delete -->


<div class="modal fade" id="exampleModalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Supression de l'article</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Êtes-vous sur de suprimer l'article ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark btn-delete-post">Suprimer</button>
      </div>
    </div>
  </div>
</div>

<!--modal en delete -->