  {% extends 'layout/layout.twig' %} 

 {% block content %}
   <div class="form-group container">

        <form method="post" class="needs-validation Inscription" action="" novalidate>
           <div class="container mt-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <div class="card px-5 py-5" id="form1">
                    <div id="liveAlertPlaceholderSignUp"></div>
                        <div class="form-data">
                             
                            <div class="form-group col-md pb-1 pb-md-0 pt-3">
                            <label for="name" >Nom utilisateur :</label><br>
                            <input  type="text" name="user_name" class="form-control" placeholder="Nom Et Prénom" required pattern="^[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð '-]+$">
                            <div class="valid-feedback">Nom et prénom valide</div>
                            <div class="invalid-feedback">Nom et prénom invalide</div>
                            </div>

                            <div class="form-group mb-3 pt-3">                            
                            <label for="email" >Adresse email :</label>
                            <input type="email" name="mail"  placeholder="Votre adresse email" class="form-control" required pattern="^[a-z0-9!#$ %& '*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&' * +/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$">
                            <div class="valid-feedback">Email valide</div>
                            <div class="invalid-feedback">Email invalide</div>     
                            </div>

                             <div class="form-group mb-3 pt-3">
                            
                            <label for="email" >Mod de passe :</label>
                            <input type="password" name="password" placeholder="votre mot de passe" autocomplete = "on" class="form-control" required pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W]).{8,64})">
                            <div class="valid-feedback">Mot de passe valide</div>
                            <div class="invalid-feedback">Mot de passe le mot de passe doit contenir 8 caractères dont au minimum une majuscule, une minuscule, un caractère numérique et un caractère spécial</div>    
                            </div>

                            <div class="row">
                                    <input class = "btn btn-dark" type="submit" value="Inscription"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                 
               


        </form>
    </div>
    <script>

    //url for signup
    url_signUp = `http://localhost/signup`;

    //form for signup
    form_signUp = document.querySelector('.Inscription');

       //signup user 
          form_signUp.addEventListener('submit', function (event) { 
          event.stopPropagation();
          event.preventDefault();
          this.classList.add('was-validated');
          if (form_signUp.checkValidity()) {
            const formData = createFormData(form_signUp);
            jsonres = postData(formData,url_signUp)
             .then(function (jsonres) {
              if(jsonres.success){
                   formReset(form_signUp);
                    document.location.href = `http://localhost/connexion`;
                }else{
                    alertType='danger'
                    alertMessage = jsonres.error
                }
                const alertPlaceholder = document.getElementById('liveAlertPlaceholderSignUp')
                alert(alertMessage ,alertType ,alertPlaceholder)
           })
              
          }

      })
    </script>
 {% endblock %}