<!-- Footer -->


  <div class="container p-4 g-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/AitIncaf" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/incaf-ait-oumaksa-7226bb20b/" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/AitOumaksa" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>

    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        Vous pouvez me contactez sur mes reseaux sociaux !
      </p>
       
       
      
       {% if session.user.sessionId is defined %}
       {% if session.user.is_admin == 'Admin' %}
        <a class="mb-4 text-light" href="/admin">Administration</a>
        {% endif %}
        {% endif %}
        

    </section>
  </div>

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white">Blog php</a>
  </div>
  <!-- Copyright -->

<!--End Footer -->